<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>



    <properties resource="db.properties" />

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>


    <typeAliases>
        <typeAlias type="com.huaifang.yan.dal.TbPgsPccRuleDO" alias="TbPgsPccRuleResult" />
    </typeAliases>

    <typeHandlers>
        <typeHandler javaType="java.util.List" jdbcType="VARCHAR" handler="com.huaifang.yan.type.ListTypeHandler"/>
    </typeHandlers>

    <plugins>
        <plugin interceptor="com.huaifang.yan.plugin.ExecutorConsumerPlugin">
            <property name="name" value="ExecutorConsumerPlugin"/>
        </plugin>
        <plugin interceptor="com.huaifang.yan.plugin.ParameterConsumerPlugin">
            <property name="name" value="ParameterConsumerPlugin"/>

        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}" />
                <property name="url" value="${jdbc.url}" />
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="com.huaifang.yan.dal.TbPgsPccRuleDO" />
<!--        <mapper class="com.huaifang.yan.mapper.TbPgsPccRuleMapper"/>-->
        <mapper resource="mapper/TbPgsPccRuleMapper.xml" />
    </mappers>


</configuration>